
<!-- Script files -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/jquery/dist/jquery.js"></script>

<!-- This is the bottom navigation bar of the website. It contains copyright information and social media icons. -->

<nav class="navbar fixed-bottom navbar-dark bg-dark fixed-bottom-navbar">
    <!-- Copyright text for the footer -->
    <h6 class="navbar-text">&copy; Copyright 2023. All Rights reserved :)</h6>

    <!-- Container for social media icons -->
    <div class="navbar-icons">
        <!-- GitHub icon with a link to the GitHub profile -->
        <a href="https://github.com/fatimak03" target="_blank">
            <i class="fa-brands fa-github fa-2xl"></i>
        </a>
    </div>
</nav>
<!-- Bottom Nav Bar ends here -->
</footer>
</body>
</html>