<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>

<!-- Content -->
<section id="about"> <!--Code for the about me section-->
    <div class="container">
        <h2>About Me</h2>
        <link rel="stylesheet" href="/styles/app.css">
        <div class="about-content">
            <div class="about-text">
                <p>Hello, My name is Fatima Khan. I am in my second year of studying Networking and IT Security at Ontario Tech University. My passion lies within the areas of cybersecurity, and I make it a priority to stay well-informed within the tech community.

                Throughout my academic journey, I've acquired valuable knowledge and hands-on experience in various domains, including networking protocols, systems administration, and coding languages like Python, HTML, and CSS. My focus extends to cybersecurity practices as I am committed to furthering my understanding and keeping up to date within the latest technological advancements in the industry.

                I've had the privilege of working on several projects, each significantly contributing to my knowledge and guiding me to where I stand today. Here are some of my <a href="http://localhost:3001/projects">projects</a> that helped me in my journey.

                Please feel free to explore my portfolio. For any inquiries or potential collaborations, please feel free to <a href="http://localhost:3001/contact">contact me</a>.</p>
                <!-- Add your about section content here -->
            </div>
        </div>
        <div class="videoclass">
            <video width="320" height="240" controls>
                <source src="../images/videoaboutme.mp4" type="video/mp4">
                Your browser does not support the video tag. Please use a modern browser.
            </video>
        </div>
    </div>
</section>
<!-- Content -->

<%- include('partials/footer.ejs') %>

