<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>

<!-- Content -->
<section id="contact"> <!--Code for the contact form-->
    <div class="container">
        <h2>Contact Me</h2>
        <p>Please reach out to me with any questions or comments! </p>

        <form id="contact-form" action="#" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" required>

            <label for="comments">Comments:</label>
            <textarea id="comments" name="comments" required></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>
</section>
<!-- Content -->

<%- include('partials/footer.ejs') %>


