<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>

<!-- Content -->
<section id="home">
    <h1>Welcome To Fatima Khan's Website</h1>
    <div class="home-media">
        <img src="../images/me.jpg" alt="Fatima Khan" width="300" height="380">
    </div>
</section>
<!-- Content -->

<%- include('partials/footer.ejs') %>


