<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>

<!-- Content -->
<section id="projects"> <!--Code for the projects section-->
    <div class="container">
        <h2>Projects</h2>
        <link rel="stylesheet" href="/styles/your-stylesheet.css">
        <ul>
            <!-- Add your projects list items here -->
        </ul>
        <div id="content">
            <h4 class="project-title">Design Project Using Cisco Packet Tracer</h4>
            <p>Designed a network structure of a small company, with the goal of linking 3 separate buildings together. It included implementing VLANs, creating subnets, using different networking protocols, and testing connectivity to ensure everything is fully functional.</p>
    
            <h4 class="project-title">Design Project Using Cisco Packet Tracer (2)</h4>
            <p>Similar to the last one, with the help of my team members, we designed 4 separate sites for a medium-sized company using the same protocols as before but added other protocols such as BGP, IGRP, EGP, IS-IS, and OSPF. Setting up routers and switches to ensure everything is fully functional.</p>
    
            <h4 class="project-title">Connect Four using Python</h4>
            <p>In this project, I created a Connect Four game where the player uses numbers to try to get four numbers in a row to win.</p>
    
            <h4 class="project-title">Cipher Text Encryption</h4>
            <p>With the help of my partner, we created a text encryption system that offers encryption methods for securing text messages. The encryption methods used are Caesar Cipher, Substitution Cipher, Transposition Cipher, RSA Cipher (using RSA 1024 keys), Playfair Cipher, and the Product Cipher.</p>
        </div>
    </div>
</section>
<!-- Content -->

<%- include('partials/footer.ejs') %>

